<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file_upload_input"> Select any number of files to upload :</label>
        <input type="file" id="file_upload_input" name="file_upload_input" multiple />
        <input type="submit" />
    </form>

    {% if uploaded_files|length > 0 %}
    <ul>
        {% for file in uploaded_files  %}
            <li> {{ file }} has been uploaded </li>
        {% endfor %}
    </ul>
    {% else %}
        <p> You have no uploaded files! </p>
    {% endif %}
</body>
</html>